<h1>Nueva publicación:</h1>

<form method="post" enctype="multipart/form-data">
    <label>Añadir imagen</label>
    <input type="file" name="foto" class="form-control"/>
    <br />
    <textarea rows="3" placeholder="Cuéntanos tu experiencia!"
    name="texto" class="form-control"></textarea>
    <br />
    <button class="btn btn-dark">Publicar!</button>
</form>
