@model List<Provincia>

<div class="container align-items-center justify-content-center" style="width: 60%;">

    <h1>Solicitar concierto:</h1>
    <br />
    <form method="post" >

        <label>Nombre del artista:</label>
        <input type="text" name="nombre" class="form-control" />
        <br />
        <label>Provincia</label>
        <select name="idprovincia" class="form-control">
            @foreach (Provincia p in Model)
            {
                <option value="@p.IdProvincia">
                    @p.Nombre
                </option>
            }
        </select>
        <br />
        <label>Fecha:</label>
        <input type="date" name="fecha" class="form-control" />
        <br />
        <label>Numero de teléfono:</label>
        <input type="text" name="telefono" class="form-control" 
        placeholder="Necesario para el grupo de WhatsApp"/>
        <br />
        <button class="btn btn-outline-success">
            Enviar solicitud!
        </button>
    </form>

</div>
