
<h1>Nuevo genero:</h1>

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control"/>
    <br />
    <button class="btn btn-success">Guardar!</button>
</form>
