@model List<Provincia>

<div class="row justify-content-center">
    <div class="card text-white bg-dark mb-3" style="width: 65%;">
        <div class="card-body text-center">
            <h1>Nueva Sala</h1>

            <form method="post">
                <input type="text" name="nombre" placeholder="Nombre de la sala" class="form-control" required/>
                <br />
                <input type="text" name="direccion" placeholder="Dirección" class="form-control" required/>
                <br />
                <select name="provincia" class="form-control">
                    @foreach (Provincia p in Model)
                    {
                        <option value="@p.IdProvincia">
                            @p.Nombre
                        </option>
                    }
                </select>
                <br />
                <button class="btn btn-success">Guardar!</button>
            </form>

        </div>
    </div>
</div> 

<div style="text-align: center;">
    <a asp-controller="Admin" asp-action="VerSalas"
       class="btn btn-outline-dark">
        Volver
    </a>
</div>