
<h1>Nuevo artista:</h1>

<form method="post" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre de la sala" class="form-control" />
    <br />
    <label>Imagen del artista:</label>
    <input type="file" name="foto" class="form-control" />
    <br />
    <input type="text" name="spotify" placeholder="Enlace de spotify" class="form-control" />
    <br />
    <textarea rows="3" name="descripcion" placeholder="Descripción" class="form-control"></textarea>
    <br />
    <button class="btn btn-success">Guardar!</button>
</form>
