


<h1>Bienvenido al panel de administración</h1>

<a asp-controller="Admin" asp-action="VerPeticiones" class="btn btn-dark">
    Peticiones
</a>
<a asp-controller="Admin" asp-action="VerConciertos" class="btn btn-dark">
    Conciertos
</a>

@* https://getbootstrap.com/docs/5.0/components/card/ *@