


<h1>Bienvenido al panel de administración</h1>

<a asp-controller="Admin" asp-action="VerPeticiones" class="btn btn-dark">
    Peticiones
</a>
<a asp-controller="Admin" asp-action="VerConciertos" class="btn btn-dark">
    Conciertos
</a>
<a asp-controller="Admin" asp-action="VerSalas" class="btn btn-dark">
    Salas
</a>
<a asp-controller="Admin" asp-action="VerArtistas" class="btn btn-dark">
    Artistas
</a>
<a asp-controller="Admin" asp-action="VerGeneros" class="btn btn-dark">
    Géneros
</a>
<a asp-controller="Admin" asp-action="VerUsuarios" class="btn btn-dark">
    Usuarios
</a>
<a asp-controller="Admin" asp-action="VerPublicaciones" class="btn btn-dark">
    Publicaciones
</a>


@* https://getbootstrap.com/docs/5.0/components/card/ *@