@model List<UserPubli>

<h1>Administrar publicaciones:</h1>

<a asp-controller="Admin" asp-action="PanelAdmin"
   class="btn btn-outline-dark">
    Volver
</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Texto</th>
            <th>Fecha</th>
            <th>Imagen</th>            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserPubli publi in Model)
        {
            <tr>
                <td>@publi.NombreUsuario</td>
                <td>@publi.Texto</td>
                <td>@publi.Fecha</td>
                <td>
                    <img src="~/images/publicaciones/@publi.Imagen"
                         style="width: 50px; height: 50px" />
                </td>
            </tr>
        }
    </tbody>
</table>
