@model List<Evento>

<div style="display: flex;">
    <div style="text-align: left;">

        <h1>Lista de eventos</h1>
        
    </div>
    <div style="text-align: right;">
        <p>¿No tenemos el Concierto que buscas?<br/>
            Rellena este 
            <a asp-controller="Acciones" asp-action="SolicitarConcierto" class="btn btn-outline-dark">
                formulario
            </a>
        </p>
    </div>
</div>

@foreach (Evento e in Model)
{

    <div class="card" style="width: 18rem; float: left; margin-right: 15px;">
        <img class="card-img-top" src="~/images/eventos/@e.Imagen" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@e.Nombre</h5>
            <p>@e.Fecha</p>
            <a asp-controller="Home" asp-action="DetallesConcierto"
            asp-route-idevento="@e.IdConcierto"
            class="btn btn-primary">Ver detalles!</a>
        </div>
    </div>
}

