@model List<Evento>

<div style="display: flex;">
    <div style="text-align: left;">

        <h1>Lista de eventos</h1>
        
    </div>
    <div style="text-align: right;">
        <p>¿No tenemos el Concierto que buscas?<br/>
            Rellena este 
            <a asp-controller="Acciones" asp-action="SolicitarConcierto" class="btn btn-outline-dark">
                formulario
            </a>
        </p>
    </div>
</div>

@for (int i = 0; i < Model.Count; i++)
{
    if (i % 2 == 0)
    {
        <div class="clearfix"><br /></div>
    }

    <div class="card" style="width: 18rem; float: left; margin-right: 15px;">
        <img class="card-img-top" src="~/images/eventos/@Model[i].Imagen" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model[i].Nombre</h5>
            <p>@Model[i].Fecha</p>
            <a asp-controller="Home" asp-action="Detalles"
            asp-route-idevento="@Model[i].IdConcierto"
            class="btn btn-primary">Ver detalles!</a>
        </div>
    </div>
}

