

<div class="header">
    <div class="overlay"></div>
    <h1>¿Qué es Conciertos Solo?</h1>
</div>

<div class="content">

    <p>
        El proyecto <strong>Conciertos Solo</strong>, iniciado en 2017, tiene como objetivo conectar a la gente que va sola a conciertos, 
        para que se relacionen y vayan juntos a los eventos.<br />
        Ofrecemos un catálogo de eventos para todas las provincias de España.
    
    </p>

    <h3>Síguenos en nuestras redes!</h3>

    <a class="navbar-brand" href="https://twitter.com/ConciertosSolo">
        <img src="~/images/logotwitter.png" alt="ConciertosSoloTwitter" width="50" height="50">
    </a>

    <a class="navbar-brand" href="https://www.instagram.com/conciertos.solo/">
        <img src="~/images/logoig.png" alt="ConciertosSoloInstagram" width="50" height="50">
    </a>

    <a class="navbar-brand" href="@Html.Raw("https://www.tiktok.com/@conciertos.solo")">
        <img src="~/images/logotiktok.png" alt="ConciertosSoloTiktok" width="50" height="50">
    </a>

</div>

   
