

<div class="container align-items-center justify-content-center" style="width: 60%;">

    <h1>Cambiar contraseña:</h1>
    <br />
    <form method="post" enctype="multipart/form-data">

        <label>Introduce la nueva contraseña:</label>
        <input type="password" name="contrasena" class="form-control" />
        <br />
        <label>Confirme la contraseña:</label>
        <input type="password" name="confirmar" class="form-control"/>
        <br />
        <button class="btn btn-outline-success">
            Cambiar contraseña!
        </button>
    </form>

</div>
