
<div class="container align-items-center justify-content-center" style="width: 60%;">

    <h1>Seleccione una foto para su perfil:</h1>

    <form method="post" enctype="multipart/form-data">

        <input type="file" name="foto" class="form-control" />
        <br />
        <button class="btn btn-outline-success">
            Subir foto!
        </button>
    </form>

</div>

