<div>

    <h1>Iniciar sesión</h1>

    <form method="post" enctype="multipart/form-data">
        <label>Email</label>
        <input type="text" name="email" class="form-control" />
        <br />
        <label>Contraseña</label>
        <input type="text" name="contrasena" class="form-control" />
        <br />
        <button class="btn btn-dark">
            Iniciar Sesión
        </button>
    </form>
    <h2>@ViewData["MENSAJE"]</h2>
</div> 
