@model Usuario 

<div>

    <h1>Formulario de registro:</h1>

    <form method="post" enctype="multipart/form-data">
        <label>Nombre de usuario:</label>
        <input type="text" name="nombre" class="form-control" />
        <br />
        <label>Email:</label>
        <input type="text" name="email" class="form-control" />
        <br />
        <label>Contraseña:</label>
        <input type="text" name="contrasena" class="form-control" />
        <br />
        <label>Confirmar contraseña:</label>
        <input type="text" name="confirmar" class="form-control" />
        <br />
        <label>Sobre ti:</label>
        <textarea rows="5" name="bio" class="form-control"></textarea>
        <br />
        <button class="btn btn-dark">Resgistrame!</button>
    </form>

    <h2 style="color:forestgreen">@ViewData["MENSAJE"]</h2>
</div>