@model Usuario 

<div class="row justify-content-center">
    <div class="card text-white bg-dark mb-3" style="width: 25rem;">
        <div class="card-body text-center">
            
            <h2>Registrarse</h2>
            <br />
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="nombre" class="form-control" required placeholder="Nombre de usuario" />
                <br />
                <input type="text" name="email" class="form-control" required placeholder="Email" />
                <br />
                <input type="password" name="contrasena" class="form-control" required placeholder="Contraseña" />
                <br />
                <label>Sobre ti:</label>
                <textarea rows="5" name="bio" class="form-control" required></textarea>
                <br />
                <button class="btn btn-light">Resgistrame!</button>
            </form>

            <p style="color:lightgray">@ViewData["MENSAJE"]</p>
        </div>
    </div>
</div> 